body {
  margin: 0;

  font: 14px/1.1 sans-serif;
}

.container {
  box-sizing: border-box;
  padding-top: 3rem;
  padding-right: 1rem;
  padding-left: 200px;
}

section {
  padding-right: 1rem;
  padding-left: 1rem;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-right: -1rem;
  margin-left: -1rem;
}

.col {
  display: flex;
  box-sizing: border-box;
  width: 300px;
  padding: 1rem;
}

.navbar {
  position: fixed;
  padding: 3rem;
}

.navlist {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navlist-item {
  margin-bottom: 1rem;
}

.navlink {
  color: inherit;
  text-decoration: none;
}

.navlink.active {
  color: rgb(73, 158, 255);
}

h2,
h3 {
  font-weight: 400;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

img {
  width: 100%;
  border-radius: 1.5rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  border: 1px solid #eee;
  border-radius: 2rem;
  box-shadow: 0 0 5px #cfcfcf;

  text-align: center;
}

.info {
  margin-bottom: 1.5rem;
}
