body {
  margin: 0;
  font-family: sans-serif;
}

h3 {
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-top: 2rem;
  margin-bottom: 2rem;
}

.col {
  width: 250px;
  padding: 2rem 1rem;
  border: 1px solid #333;
  text-align: center;
}

.col img {
  width: 200px;
}

.amount {
  font-weight: 600;
}

.strikers-bg {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background: rgba(100, 100, 100, .5);

  display: block;
}

.strikers-popup {
  position: absolute;
  top: 25vh;
  left: 25vw;

  width: 50vw;
  height: 50vh;

  background: #333;
  color: #fff;

  overflow: auto;
}

.close-button {
  position: fixed;
  top: 10px;
  right: 10px;
}